.cta {
	text-align: center;
	margin: 40px auto 0;
	
	@media screen and (min-width: $large-screen) {
		text-align: left;
		margin: 32px 0 0;
	}
	
	@media screen and (min-width: $xlarge-screen) {
		text-align: right;
	}

	&__button {
		font-family: $bagnard-sans-fallback;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 60px;
		letter-spacing: 0.25px;
		text-align: center;
		height: 60px;
		width: 248px;
		border: solid 3px $fire;
		display: inline-block;
		transition: $base-duration $base-timing;
		
		.wf-active & {
			font-family: $heading-font-family;
		}
		
		&:hover {
			background: $action-color;
			color: $salt;
		}
		
	}

}