.container {
	@include outer-container;
	background: $salt;
	
	.inner-border {
		width: 95vw;
		height: 97vh;
		border: solid 1px $fire;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		background: transparent;
	}
	
}