@include direction-context(right-to-left) {

	.content {
		@include span-columns(10);
		@include shift(1);
		position: relative;
		z-index: 1;
		padding: 56px 0;
		
		@media screen and (min-width: $medium-screen) {
			@include span-columns(12);
			@include shift(0);
		}
		
		@media screen and (min-width: $large-screen) {
			@include span-columns(7);
			@include shift(0);
			padding: 0;
		}
		
		.wordmark {
			
			@media screen and (min-width: $medium-screen) {
				width: percentage(5/7);
				margin: 0 auto;
			}
			
			@media screen and (min-width: $large-screen) {
				width: percentage(7/7);
				margin: 0;
			}
			
			img {
				width: 200px;
				height: auto;
				
				@media screen and (min-width: $large-screen) {
					width: 150px;
					position: absolute;
					top: 32px;
					right: 40px;
				}
				
				@media screen and (min-width: $large-screen) and (min-height: 769px) {
					width: 200px;
					top: 48px;
				}
				
				@media screen and (min-width: $xlarge-screen) {
					top: 64px;
				}
				
			}
			
		}
		
		&__intro {
			margin: 48px 0 0;
			
			@media screen and (min-width: $medium-screen) {
				width: percentage(5/7);
				margin: 48px auto 0;
			}
			
			@media screen and (min-width: $large-screen) {
				height: 93vh;
				@include display(flex);
				@include flex-direction(column);
				@include justify-content(flex-end);
				padding: 0 0 7vh;
			}
			
			@media screen and (min-width: $xlarge-screen) {
				height: 95.75vh;
				padding: 0 0 5.25vh;
			}
			
			&-block {	
				width: 100%;
				position: relative;
				
				@media screen and (min-width: $medium-screen) {
					@include display(flex);
					@include flex-direction(row);
				}
				
				@media screen and (min-width: $large-screen) {
					@include flex-direction(column);
				}
				
				@media screen and (min-width: $xlarge-screen) {
					@include flex-direction(row);
				}
				
				aside {
					max-width: 280px;
					height: auto;
					margin: 0 auto;
					
					@media screen and (min-width: $medium-screen) {
						margin: 0;
					}
					
					img {
						box-shadow: 0px 8px 40px rgba($pepper, 0.24);
					}
					
				}
				
				article {
					margin: 24px 0 0;
					
					@media screen and (min-width: $medium-screen) {
						width: 296px;
						margin: 40px 0 0;
						padding: 0 0 0 24px;
					}
					
					@media screen and (min-width: $large-screen) {
						width: inherit;
						margin: 24px 0 0;
						padding: 0;
					}
					
					@media screen and (min-width: $xlarge-screen) {
						width: 296px;
						margin: 40px 0 0;
						padding: 0 0 0 24px;
					}
					
				}
				
			}
			
		}
		
		&__info {
			margin: 56px 0 0;
			
			@media screen and (min-width: $medium-screen) {
				width: percentage(5/7);
				@include display(flex);
				@include flex-direction(row-reverse);
				margin: 56px auto 0;
				
				&:nth-child(even) {
					@include flex-direction(row);
					
					article {
						text-align: left;
						padding: 0 0 0 24px;
					}
					
				}
				
			}
			
			@media screen and (min-width: $large-screen) {
				@include flex-direction(column);
				margin: 0 auto;
				padding: 56px 0 0;
				
				&:nth-child(even) {
					@include flex-direction(column);
					
					
					article {
						padding: 0;
					}
					
				}
				
			}
			
			@media screen and (min-width: $xlarge-screen) {
				@include flex-direction(row-reverse);
				padding: 104px 0 0;
				
				&:nth-child(even) {
					@include flex-direction(row);
					
					article {
						text-align: left;
						padding: 0 0 0 24px;
					}
					
				}
				
			}
			
			aside {
				max-width: 280px;
				height: auto;
				margin: 0 auto;
				
				@media screen and (min-width: $medium-screen) {
					margin: 0;
				}
				
				img {
					box-shadow: 0px 8px 40px rgba($pepper, 0.24);
				}
			}
			
			article {
				margin: 24px 0 0;
				
				@media screen and (min-width: $medium-screen) {
					text-align: right;
					width: 296px;
					margin: 40px 0 0;
					padding: 0 24px 0 0;
				}
				
				@media screen and (min-width: $large-screen) {
					width: 100%;
					text-align: left;
					margin: 24px 0 0;
					padding: 0;
				}
				
				@media screen and (min-width: $xlarge-screen) {
					text-align: right;
					width: 296px;
					margin: 40px 0 0;
					padding: 0 24px 0 0;
				}
				
			}
			
		}
		
	}

}