@include direction-context(right-to-left) {

	.content {
		@include span-columns(10);
		@include shift(1);
		position: relative;
		z-index: 1;
		padding: 56px 0;
		
		@media screen and (min-width: $medium-screen) {
			@include span-columns(8);
			@include shift(2);
		}
		
		@media screen and (min-width: $large-screen) {
			@include span-columns(7);
			@include shift(0);
			padding: 0;
		}
		
		.wordmark {
			
			img {
				width: 200px;
				height: auto;
				
				@media screen and (min-width: $large-screen) {
					position: absolute;
					top: 40px;
					right: 64px;
				}
				
				@media screen and (min-width: $xlarge-screen) {
					top: 64px;
				}
				
			}
			
		}
		
		&__intro {
			margin: 48px 0 0;
			
			@media screen and (min-width: $large-screen) {
				width: 71.42857143%;
				height: 100vh;
				@include display(flex);
				@include flex-direction(column);
				@include justify-content(flex-end);
				margin: 0 auto;
				padding: 0 0 5.25vh;
			}
			
			&-block {	
				width: 100%;
				
				@media screen and (min-width: $xlarge-screen) {
					@include display(flex);
					@include flex-direction(row);
				}
				
				article {
					margin: 24px 0 0;
					
					@media screen and (min-width: $xlarge-screen) {
						width: 296px;
						margin: 40px 0 0;
						padding: 0 0 0 24px;
					}
					
				}
				
			}
			
		}
		
		&__info {
			margin: 56px 0 0;
			
			@media screen and (min-width: $large-screen) {
				width: 71.42857143%;
				margin: 0 auto;
				padding: 56px 0 0;
			}
			
			@media screen and (min-width: $xlarge-screen) {
				@include display(flex);
				@include flex-direction(row-reverse);
				padding: 104px 0 0;
				
				&:nth-child(even) {
					@include flex-direction(row);
					
					article {
						text-align: left;
						padding: 0 0 0 24px;
					}
					
				}
				
			}
			
			article {
				margin: 24px 0 0;
				
				@media screen and (min-width: $xlarge-screen) {
					text-align: right;
					width: 296px;
					margin: 40px 0 0;
					padding: 0 24px 0 0;
				}
				
			}
			
		}
		
	}

}