.main-container {
	@include outer-container;
	background: $salt;
	
	.inner-border {
		display: none;
		
		@media screen and (min-width: $medium-screen) {
			display: inherit;
			width: 96vw;
			height: 95vh;
			border: solid 1px $fire;
			@include position(absolute, 50% null null 50%);
			@include transform(translate(-50%, -50%));
			background: transparent;
		}
		
		@media screen and (min-width: $large-screen) {
			width: 97vw;
			height: 94vh;
			@include position(fixed, 50% null null 50%);
		}
		
		@media screen and (min-width: $large-screen) and (min-height: 769px) {
			width: 97.5vw;
			height: 97vh;
		}
		
		@media screen and (min-width: $xlarge-screen) {
			width: 98vw;
			height: 97.5vh;
		}
		
	}
	
}