.main-container {
	@include outer-container;
	background: $salt;
	
	.inner-border {
		width: 95vw;
		height: 97vh;
		border: solid 1px $fire;
		@include position(fixed, 50% null null 50%);
		@include transform(translate(-50%, -50%));
		background: transparent;
	}
	
}