footer {
	text-align: center;
	margin: 56px auto 0;
	
	@media screen and (min-width: $medium-screen) {
		width: percentage(5/7);
	}
	
	@media screen and (min-width: $large-screen) {
		margin: 136px auto 80px;
	}
	
	.social-container {
		text-align: left;
		width: 100%;
		padding: 2% 0;
		border: solid 1px $fire;
		
		.social {
			width: 96%;
			margin: 0 auto;
			padding: 16px 16px 24px;
			border: solid 1px $fire;
			
			&__instagram {
				@include display(flex);
				@include flex-direction(row);
				@include justify-content(space-between);
				@include align-items(flex-end);
				margin: 0 0 16px;
				
				&-link {
					font-family: $bagnard-sans-fallback;
					font-size: 1.3rem;
					letter-spacing: 0;
					line-height: 8px;
					font-weight: 400;
					margin: 0 8px 0 0;
					
					@media screen and (min-width: $small-screen) {
						font-size: 1.6rem;
						letter-spacing: 0.25px;
					}
					
					@media screen and (min-width: $medium-screen) {
						font-size: 1.8rem;
					}
					
					.wf-active & {
						font-family: $heading-font-family;
						font-size: 1.5rem;
					}
					
				}
				
				&-divider {
					width: 100%;
					height: 1px;
					border-bottom: dotted 1px $fire;
					margin: 0;
					padding: 0;
				}
				
				&-icon {
					margin: 0 0 0 8px;
					
					a {
						transition: color $base-duration $base-timing;
						
						svg {
							width: 20px;
							height: auto;
							background-position: 0 100%;
							background-size: contain;
							position: relative;
							top: 8px;
							fill: $action-color;
							
							@media screen and (min-width: $small-screen) {
								width: 23px;
								top: 7px;
							}
							
							@media screen and (min-width: $medium-screen) {
								width: 24px;
								top: 8px;
							}
							
						}
						
						&:hover {
							
							svg {
								fill: darken($action-color, 20%);
							}
							
						}
						
					}
					
				}
				
			}
			
			&__email {
				@include display(flex);
				@include flex-direction(row);
				@include justify-content(space-between);
				@include align-items(flex-end);
				margin: 0;
				
				&-link {
					font-family: $bagnard-sans-fallback;
					font-size: 1.3rem;
					letter-spacing: 0;
					line-height: 8px;
					font-weight: 400;
					margin: 0 8px 0 0;
					
					@media screen and (min-width: $small-screen) {
						font-size: 1.6rem;
						letter-spacing: 0.25px;
					}
					
					.wf-active & {
						font-family: $heading-font-family;
						font-size: 1.5rem;
					}
					
				}
				
				&-divider {
					width: 100%;
					height: 1px;
					border-bottom: dotted 1px $fire;
					margin: 0;
					padding: 0;
				}
				
				&-icon {
					margin: 0 0 0 8px;
					
					a {
						
						svg {
							width: auto;
							height: 20px;
							background-position: 0 100%;
							background-size: contain;
							position: relative;
							top: 10px;
							fill: $action-color;
							
							@media screen and (min-width: $small-screen) {
								height: 23px;
							}
							
							@media screen and (min-width: $medium-screen) {
								height: 24px;
							}
							
						}
						
						&:hover {
							
							svg {
								fill: darken($action-color, 20%);
							}
							
						}
												
					}
					
				}
				
			}
			
		}
	
	}
	
	.footer-icon {
		width: 40px;
		height: auto;
		margin: 88px 0 0;
		
		@media screen and (min-width: $large-screen) {
			margin: 212px 0 0;
		}
		
	}
	
}