header {
	@include span-columns(12);
	height: 100vh;
	background: $slate;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	
	@media screen and (min-width: $large-screen) {
		@include span-columns(5);
		@include display(flex);
		@include align-items(center);
		@include position(fixed, null null null null);
	}
	
	&:before {
		@include span-columns(12);
		@include shift(0);
		// opacity is controlled via _animations.scss	
	}
	
	.logo-primary {
		width: 148px;
		height: auto;
		position: relative;
		z-index: 2;
		margin: 0 0 120px;
		
		@media screen and (min-width: $small-screen) {
			width: 184px;
		}
		
		@media screen and (min-width: $medium-screen) {
			width: 240px;
		}
		
		@media screen and (min-width: $large-screen) {
			width: 200px;
			margin: 0;
		}
		
	}
	
	.scroll-on-page-link {
		width: 40px;
		height: 56px;
		@include position(absolute, null null 56px 50%);
		@include transform(translate(-50%, 0));
		z-index: 3;
		
		@media screen and (min-width: $medium-screen) {
			bottom: 80px;
		}
		
		@media screen and (min-width: $large-screen) {
			display: none;
		}
		
	}
	
}