.right {
	@include span-columns(12);
	padding: 56px 0;
	position: relative;
	z-index: 1;
	
	&__container {
		@include span-columns(10);
		@include shift(1);
		text-align: left;
		
		.wordmark {
			width: 200px;
			height: auto;
			margin: 0 0 48px;
		}
		
		&-block {
			margin: 0 0 56px;
			
			.knife-icon {
				width: 72px;
				height: auto;
			}
			
			.image-shadow {
				width: 260px;
				height: 260px;
				margin: 0 auto;
				overflow: visible;
				position: relative;
				
				@media screen and (min-width: 360px) {
					width: 280px;
					height: 280px;
				}
				
				&:after {
					content: "";
					width: 90%;
					height: 50%;
					background: $pepper;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0);
					box-shadow: 0 3px 60px 0 rgba($pepper, 0.5);
					z-index: 0;
				}
				
				img {
					position: relative;
					z-index: 1;
				}
				
			}
			
			.block-content {
				margin: 32px 0 0;
			}
			
		}
		
		.scroll-indicator-desktop {
			border: solid 1px $fire;
			width: 40px;
			height: 56px;
			margin: 0 auto;
			padding: 15px 11px 0;
			display: none;
			
			.arrow {
				width: 16px;
				height: 34px;
				margin: 0 auto;
			}
			
		}
		
		.icon {
			text-align: center;
			margin: 88px auto 0;
			
			svg {
				width: 40px;
				height: auto;
			}
			
		}
		
	}
	
}