.scroll-indicator-mobile {
	border: solid 1px $fire;
	width: 40px;
	height: 56px;
	margin: 0 auto;
	padding: 15px 11px 0;
	
	.arrow {
		width: 16px;
		height: 34px;
		margin: 0 auto;
	}
	
	@media screen and (min-width: $large-screen) {
		display: none;
		padding: 0;
	}
	
}

.scroll-indicator-desktop {
	border: solid 1px $fire;
	width: 40px;
	height: 56px;
	margin: 0 auto;
	padding: 15px 11px 0;
	display: none;
	
	@media screen and (min-width: $large-screen) {
		width: 32px;
		height: 48px;
		padding: 15px 9px 0;
		display: block;
		margin: 24px auto 0;
		
	}
	
	@media screen and (min-width: $xlarge-screen) {
		margin: 19.6vh auto 0;
	}
	
	.arrow {
		width: 16px;
		height: auto;
		margin: 0 auto;
		
		@media screen and (min-width: $large-screen) {
			width: 12px;
		}
		
	}
	
}