.scroll-indicator-mobile {
	border: solid 1px $fire;
	width: 40px;
	height: 56px;
	margin: 0 auto;
	padding: 15px 11px 0;
	
	.arrow {
		width: 16px;
		height: 34px;
		margin: 0 auto;
	}
	
	@media screen and (min-width: $large-screen) {
		display: none;
		padding: 0;
	}
	
}