/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'BagnardSansRegular';
  src: url("../../../../fonts/BagnardSans.eot");
  /* IE9 Compat Modes */
  src: url("../../../../fonts/BagnardSans.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/BagnardSans.woff") format("woff"), url("../../../../fonts/BagnardSans.ttf") format("truetype"), url("../../../../fonts/BagnardSans.svg#BagnardSans") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #dd5655;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Quattrocento Sans", "Verdana", "Geneva", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #b14544;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #dd5655; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Quattrocento Sans", "Verdana", "Geneva", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #dd5655;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b14544; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #dd5655;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(217, 65, 64, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #dd5655; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #838383; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a64140;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dd5655;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  color: #303030;
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 1024px) {
    body {
      font-family: "Quattrocento Sans", "Verdana", "Geneva", sans-serif;
      font-size: 1.6rem;
      letter-spacing: 0.25px;
      line-height: 24px; } }
  .wf-active body {
    font-family: "Quattrocento Sans", "Verdana", "Geneva", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.25px;
    line-height: 24px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-weight: 400; }
  .wf-active h1, .wf-active
  h2, .wf-active
  h3, .wf-active
  h4, .wf-active
  h5, .wf-active
  h6 {
    font-family: "BagnardSansRegular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
    letter-spacing: normal; }

h1 {
  font-size: 2.7rem;
  line-height: 34px; }
  .wf-active h1 {
    font-size: 2.8rem;
    line-height: 32px; }

h2 {
  font-size: 2.4rem;
  line-height: 28px; }

h3 {
  font-size: 1.6rem;
  letter-spacing: 0.25;
  line-height: 20px;
  margin: 8px 0 0; }

h4 {
  color: #dd5655;
  font-family: "Impact", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 12px;
  text-transform: uppercase; }
  .wf-active h4 {
    font-family: "Oswald", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px; }

p {
  margin: 16px 0 0; }

a {
  color: #dd5655;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  a:active, a:focus, a:hover {
    color: #aa2322; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }
  ul.list {
    margin: 8px 0 0;
    padding: 0 0 0 8px; }
    @media screen and (min-width: 1024px) {
      ul.list {
        margin: 24px 0 0; } }
    ul.list li {
      margin: 4px 0 0;
      padding: 0 0 0 20px;
      position: relative; }
      ul.list li:first-child {
        margin: 0; }
      ul.list li:before {
        content: "";
        width: 12px;
        height: 3px;
        background: url(../../../images/maggie_hyams_blade.svg) 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        top: 10px;
        left: 0; }
    @media screen and (min-width: 600px) {
      .content__info ul.list {
        padding: 0 8px 0 0; }
        .content__info ul.list li {
          padding: 0 20px 0 0; }
          .content__info ul.list li:before {
            left: auto;
            right: 0;
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1); }
        .content__info ul.list:nth-child(even) {
          padding: 0 0 0 8px; }
          .content__info ul.list:nth-child(even) li {
            padding: 0 0 0 20px; }
            .content__info ul.list:nth-child(even) li:before {
              left: 0;
              right: auto;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); } }
    @media screen and (min-width: 1024px) {
      .content__info ul.list {
        padding: 0 0 0 8px; }
        .content__info ul.list li {
          padding: 0 0 0 20px; }
          .content__info ul.list li:before {
            left: 0;
            right: auto;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1); } }
    @media screen and (min-width: 1280px) {
      .content__info ul.list {
        padding: 0 8px 0 0; }
        .content__info ul.list li {
          padding: 0 20px 0 0; }
          .content__info ul.list li:before {
            left: auto;
            right: 0;
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            transform: scaleX(-1); } }

hr {
  border-bottom: 1px solid #dd5655;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #fcfcfc; }

.main-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative; }
  .main-container::after {
    clear: both;
    content: "";
    display: block; }
  .main-container:before {
    content: "";
    border: solid 1px #dd5655;
    display: none;
    background: none; }
    @media screen and (min-width: 600px) {
      .main-container:before {
        width: 96vw;
        height: 94vh;
        display: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 3; } }
    @media screen and (min-width: 1024px) {
      .main-container:before {
        width: 98vw;
        position: fixed;
        top: 50%;
        left: 50%; } }
    @media screen and (min-width: 1024px) and (min-height: 769px) {
      .main-container:before {
        height: 98vh; } }
    @media screen and (min-width: 1280px) {
      .main-container:before {
        width: 97vw;
        height: 97vh; } }

header:before {
  content: "";
  opacity: 0;
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .cooked header:before {
    opacity: 0.25; }

.logo-primary {
  transform: translateY(-50px);
  transition: all 1000ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .logo-primary .border {
    opacity: 0;
    transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  .logo-primary .m {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 250ms; }
  .logo-primary .h {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 500ms; }
  .logo-primary .knife {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 750ms; }
  .cooked .logo-primary {
    transform: translateY(0); }
    .cooked .logo-primary .border,
    .cooked .logo-primary .m,
    .cooked .logo-primary .h,
    .cooked .logo-primary .knife {
      opacity: 1;
      transform: translateY(0); }

.scroll-indicator-mobile {
  opacity: 0;
  transform: translateY(-25px);
  transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 500ms; }
  .cooked .scroll-indicator-mobile {
    opacity: 1;
    transform: translateY(0); }

@media screen and (min-width: 1024px) {
  .content__intro-block {
    opacity: 0;
    transform: translateY(-25px);
    transition: all 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 1000ms; }
    .cooked .content__intro-block {
      opacity: 1;
      transform: translateY(0); } }

.no-js header:before {
  content: "";
  opacity: 0.15; }

.no-js .logo-primary {
  transform: translateY(0); }
  .no-js .logo-primary .border,
  .no-js .logo-primary .m,
  .no-js .logo-primary .h,
  .no-js .logo-primary .knife {
    opacity: 1;
    transform: translateY(0); }

.no-js .scroll-indicator-mobile {
  opacity: 1;
  transform: translateY(0); }

@media screen and (min-width: 1024px) {
  .no-js .content__intro-block {
    opacity: 1;
    transform: translateY(0);
    transition: all 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 1000ms; } }

@media screen and (min-width: 1024px) {
  .no-js .marinate {
    opacity: 1;
    transform: translateY(0); } }

.levitate {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.levitate.loop {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  50% {
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@media screen and (min-width: 1024px) {
  .marinate {
    opacity: 0;
    transform: translateY(25px); } }

@media screen and (min-width: 1024px) {
  .grilled {
    opacity: 1;
    transform: translateY(0);
    transition: all 750ms cubic-bezier(0.39, 0.575, 0.565, 1); } }

header {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  height: 100vh;
  background: #525252;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  header:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1024px) {
    header {
      float: left;
      display: block;
      margin-right: 0%;
      width: 41.66667%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      position: fixed; }
      header:last-child {
        margin-right: 0; } }
  header:before {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    margin-left: 0%; }
    header:before:last-child {
      margin-right: 0; }
  header .logo-primary {
    width: 148px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0 0 120px; }
    @media screen and (min-width: 360px) {
      header .logo-primary {
        width: 184px; } }
    @media screen and (min-width: 600px) {
      header .logo-primary {
        width: 240px; } }
    @media screen and (min-width: 1024px) {
      header .logo-primary {
        width: 200px;
        margin: 0; } }
  header .scroll-on-page-link {
    width: 40px;
    height: 56px;
    position: absolute;
    bottom: 56px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 3; }
    @media screen and (min-width: 600px) {
      header .scroll-on-page-link {
        bottom: 80px; } }
    @media screen and (min-width: 1024px) {
      header .scroll-on-page-link {
        display: none; } }

.content {
  float: right;
  display: block;
  margin-left: 0%;
  width: 83.33333%;
  margin-right: 8.33333%;
  position: relative;
  z-index: 3;
  padding: 56px 0; }
  .content:last-child {
    margin-left: 0; }
  @media screen and (min-width: 600px) {
    .content {
      float: right;
      display: block;
      margin-left: 0%;
      width: 100%;
      margin-right: 0%; }
      .content:last-child {
        margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .content {
      float: right;
      display: block;
      margin-left: 0%;
      width: 58.33333%;
      margin-right: 0%;
      padding: 0; }
      .content:last-child {
        margin-left: 0; } }
  @media screen and (min-width: 600px) {
    .content .wordmark {
      width: 71.42857%;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    .content .wordmark {
      width: 100%;
      margin: 0; } }
  .content .wordmark img {
    width: 200px;
    height: auto; }
    @media screen and (min-width: 1024px) {
      .content .wordmark img {
        width: 150px;
        position: absolute;
        top: 32px;
        right: 40px; } }
    @media screen and (min-width: 1024px) and (min-height: 769px) {
      .content .wordmark img {
        width: 200px;
        top: 48px; } }
    @media screen and (min-width: 1280px) {
      .content .wordmark img {
        top: 64px; } }
  .content__intro {
    margin: 48px 0 0; }
    @media screen and (min-width: 600px) {
      .content__intro {
        width: 71.42857%;
        margin: 48px auto 0; } }
    @media screen and (min-width: 1024px) {
      .content__intro {
        margin: 21.5vh auto 0; } }
    @media screen and (min-width: 1280px) {
      .content__intro {
        margin: 30vh auto 0; } }
    .content__intro-block {
      width: 100%;
      position: relative; }
      @media screen and (min-width: 600px) {
        .content__intro-block {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          -ms-flex-direction: row; } }
      @media screen and (min-width: 1024px) {
        .content__intro-block {
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; } }
      @media screen and (min-width: 1280px) {
        .content__intro-block {
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          -ms-flex-direction: row; } }
      .content__intro-block aside {
        max-width: 280px;
        height: auto;
        margin: 0 auto; }
        @media screen and (min-width: 600px) {
          .content__intro-block aside {
            margin: 0; } }
        .content__intro-block aside img {
          box-shadow: 0px 8px 40px rgba(48, 48, 48, 0.24); }
      .content__intro-block article {
        margin: 32px 0 0; }
        @media screen and (min-width: 600px) {
          .content__intro-block article {
            width: 296px;
            margin: 40px 0 0;
            padding: 0 0 0 24px; } }
        @media screen and (min-width: 1024px) {
          .content__intro-block article {
            width: inherit;
            margin: 32px 0 0;
            padding: 0; } }
        @media screen and (min-width: 1280px) {
          .content__intro-block article {
            width: 296px;
            margin: 40px 0 0;
            padding: 0 0 0 24px; } }
  .content__info {
    margin: 48px 0 0; }
    @media screen and (min-width: 600px) {
      .content__info {
        width: 71.42857%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        margin: 56px auto 0; }
        .content__info:nth-child(even) {
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          -ms-flex-direction: row; }
          .content__info:nth-child(even) article {
            text-align: left;
            padding: 0 0 0 24px; } }
    @media screen and (min-width: 1024px) {
      .content__info {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        margin: 0 auto;
        padding: 48px 0 0; }
        .content__info:nth-child(even) {
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          box-orient: vertical;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -ms-flex-direction: column; }
          .content__info:nth-child(even) article {
            padding: 0; } }
    @media screen and (min-width: 1280px) {
      .content__info {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        padding: 120px 0 0; }
        .content__info:nth-child(even) {
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-direction: normal;
          -moz-box-direction: normal;
          box-direction: normal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          -ms-flex-direction: row; }
          .content__info:nth-child(even) article {
            text-align: left;
            padding: 0 0 0 24px; } }
    .content__info aside {
      max-width: 280px;
      height: auto;
      margin: 0 auto; }
      @media screen and (min-width: 600px) {
        .content__info aside {
          margin: 0; } }
      .content__info aside img {
        box-shadow: 0px 8px 40px rgba(48, 48, 48, 0.24); }
    .content__info article {
      margin: 32px 0 0; }
      @media screen and (min-width: 600px) {
        .content__info article {
          text-align: right;
          width: 296px;
          margin: 40px 0 0;
          padding: 0 24px 0 0; } }
      @media screen and (min-width: 1024px) {
        .content__info article {
          width: 100%;
          text-align: left;
          margin: 24px 0 0;
          padding: 0; } }
      @media screen and (min-width: 1280px) {
        .content__info article {
          text-align: right;
          width: 296px;
          margin: 40px 0 0;
          padding: 0 24px 0 0; } }
      .content__info article .info-group {
        margin: 24px 0 0; }

.cta {
  text-align: center;
  margin: 40px auto 0; }
  @media screen and (min-width: 1024px) {
    .cta {
      text-align: left;
      margin: 32px 0 0; } }
  @media screen and (min-width: 1280px) {
    .cta {
      text-align: right; } }
  .cta__button {
    font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.25px;
    text-align: center;
    height: 60px;
    width: 248px;
    border: solid 3px #dd5655;
    display: inline-block;
    transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1); }
    .wf-active .cta__button {
      font-family: "BagnardSansRegular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif; }
    .cta__button:hover {
      background: #dd5655;
      color: #fcfcfc; }

footer {
  text-align: center;
  margin: 48px auto 0; }
  @media screen and (min-width: 600px) {
    footer {
      width: 71.42857%; } }
  @media screen and (min-width: 1024px) {
    footer {
      margin: 120px auto 80px; } }
  footer .social-container {
    text-align: left;
    width: 100%;
    padding: 5px 0;
    border: solid 1px #dd5655; }
    footer .social-container .social {
      width: 97%;
      margin: 0 auto;
      padding: 24px;
      border: solid 1px #dd5655; }
      @media screen and (min-width: 1280px) {
        footer .social-container .social {
          width: 98%; } }
      @media screen and (min-width: 1440px) {
        footer .social-container .social {
          padding: 24px 48px; } }
      footer .social-container .social__instagram {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
        margin: 0 0 32px; }
        footer .social-container .social__instagram-link {
          font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
          font-size: 1.4rem;
          letter-spacing: 0;
          line-height: 14px;
          font-weight: 400;
          margin: 0 8px 0 0; }
          .wf-active footer .social-container .social__instagram-link {
            font-family: "BagnardSansRegular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 0.25px;
            line-height: 16px; }
        footer .social-container .social__instagram-divider {
          width: 100%;
          height: 1px;
          border-bottom: solid 1px rgba(221, 86, 85, 0.2);
          margin: 0;
          padding: 0; }
        footer .social-container .social__instagram-icon {
          width: 16px;
          height: 16px;
          margin: 0 0 0 8px; }
          footer .social-container .social__instagram-icon a {
            transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1); }
            footer .social-container .social__instagram-icon a svg {
              width: 16px;
              height: auto; }
              footer .social-container .social__instagram-icon a svg g {
                fill: #dd5655; }
            footer .social-container .social__instagram-icon a:hover svg > g {
              fill: #aa2322; }
      footer .social-container .social__linkedin {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
        margin: 0 0 32px; }
        footer .social-container .social__linkedin-link {
          font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
          font-size: 1.4rem;
          letter-spacing: 0;
          line-height: 14px;
          font-weight: 400;
          margin: 0 8px 0 0; }
          .wf-active footer .social-container .social__linkedin-link {
            font-family: "BagnardSansRegular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 0.25px;
            line-height: 16px; }
        footer .social-container .social__linkedin-divider {
          width: 100%;
          height: 1px;
          border-bottom: solid 1px rgba(221, 86, 85, 0.2);
          margin: 0;
          padding: 0; }
        footer .social-container .social__linkedin-icon {
          width: 16px;
          height: 16px;
          margin: 0 0 0 8px; }
          footer .social-container .social__linkedin-icon a {
            transition: color 250ms cubic-bezier(0.39, 0.575, 0.565, 1); }
            footer .social-container .social__linkedin-icon a svg {
              width: 16px;
              height: auto; }
              footer .social-container .social__linkedin-icon a svg path {
                fill: #dd5655; }
            footer .social-container .social__linkedin-icon a:hover svg > path {
              fill: #aa2322; }
      footer .social-container .social__email {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
        margin: 0; }
        footer .social-container .social__email-link {
          font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
          font-size: 1.4rem;
          letter-spacing: 0;
          line-height: 14px;
          font-weight: 400;
          margin: 0 8px 0 0; }
          .wf-active footer .social-container .social__email-link {
            font-family: "BagnardSansRegular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 0.25px;
            line-height: 16px; }
        footer .social-container .social__email-divider {
          width: 100%;
          height: 1px;
          border-bottom: solid 1px rgba(221, 86, 85, 0.2);
          margin: 0;
          padding: 0; }
        footer .social-container .social__email-icon {
          width: 21px;
          height: 16px;
          margin: 0 0 0 8px; }
          footer .social-container .social__email-icon a svg {
            width: auto;
            height: 16px; }
            footer .social-container .social__email-icon a svg path {
              fill: #dd5655; }
          footer .social-container .social__email-icon a:hover svg > path {
            fill: #aa2322; }
  footer .footer-icon {
    width: 40px;
    height: auto;
    margin: 64px 0 0; }
    @media screen and (min-width: 1024px) {
      footer .footer-icon {
        margin: 192px 0 0; } }

/*# sourceMappingURL=main.css.map */
