html {
	font-size: 62.5%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 400;
  // font-size: modular-scale(1);
  // line-height: $heading-line-height;
  // margin: 0 0 $small-spacing;
}

h1 {
	font-size: 2.8rem;
	line-height: 34px;
	
	@media screen and (min-width: $large-screen) {
		font-size: 2.6rem;
		line-height: 32px;
	}
	
}

h2 {
	font-size: 2.6rem;
	line-height: 32px;
	
	@media screen and (min-width: $large-screen) {
		font-size: 2.4rem;
		line-height: 30px;
	}
	
}

h3 {
	font-size: 1.8rem;
	letter-spacing: 1;
	line-height: 22px;
	margin: 4px 0;
	
	@media screen and (min-width: $large-screen) {
		font-size: 1.6rem;
		line-height: 22px;
	}
	
}

p {
	// margin: 0 0 $small-spacing;
	font-size: 1.6rem;
	letter-spacing: 0.25px;
	line-height: 24px;
	margin: 16px 0 0;
	
	@media screen and (min-width: $large-screen) {
		font-size: 1.4rem;
		line-height: 22px;
	}
	
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 20%);
  }
}

ul {
	margin: 16px 0 0;
	
	@media screen and (min-width: $large-screen) {
		margin: 24px 0 0;
	}
	
	li {
		font-size: 1.6rem;
		letter-spacing: 0.25px;
		line-height: 24px;
		margin: 0;
		padding: 0;
		
		@media screen and (min-width: $large-screen) {
			font-size: 1.4rem;
			line-height: 22px;
		}
		
		&.label {
			color: $fire;
			font-family: $oswald;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 1.5px;
			line-height: 12px;
			text-transform: uppercase;
		}
		
	}
	
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
